body {
    background-color: #6889ac;
    background-image:url(https://a-static.besthdwallpaper.com/avatar-2-wallpaper-1920x1080-84374_48.jpg);
    background-size: cover;
}




img {
    max-width: 50%;
    padding: 10px;
    box-shadow: 0px 0px #ededed, 0em 0 6.4em #ededed;
}

p {
    color: white;
    padding-top: 1rem;
    font-weight: 800;
}

h1
{
  font-size: 4rem;
  font-weight: 900;
  box-shadow: 0 0 53px #ededed;
  background-color: black;
  color: white;
}