body {
    background-color: #6889ac
}


img {
    max-width: 50%;
    padding: 10px;
     box-shadow:  3px 3px #ededed, -1em 0 .4em #ededed;; 
  /*   box-shadow: 22px 20px 10px 6px #ededed; */
}

p {
    color: white;
    padding-top: 1rem;
    font-weight: 800;
}

h1
{
  font-size: 4rem;
  font-weight: 900;
  box-shadow: 0 0 53px #ededed;
  background-color: black;
  color: white;
}